canvas {
    border-radius: 5%;
    background-color: rgba(86, 190, 194, 0.507);
    border-style: solid;
    border-color: red;
}

.zone-btn {
    background-color: dodgerblue;
    display: block;
    max-width: 100px;
    height: 30px;
}

button {
    width: 100px;
    height: 30px;
    background: none;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(233, 191, 158);
}